.app-container {
    display: flex;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-title {
    margin: 1.25rem 0;
}

.main-title h3{
    font-size: 1.75rem;
}

.main-title p, .main-title h3{
    font-family: var(--ff-Raleway);
    color: var(--clr-blue);
}

.panels-container{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    height: 100%;
}

.profile-settings-panel, .options-panel{
    background-color: var(--clr-bgwhite);
    
    border-radius: 10px;
    box-shadow: 18px 18px 7px 0 rgba(0, 0, 0, 0.00), 12px 12px 7px 0 rgba(0, 0, 0, 0.01), 7px 7px 6px 0 rgba(0, 0, 0, 0.05), 3px 3px 4px 0 rgba(0, 0, 0, 0.09), 1px 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.profile-settings-panel{
    display: flex;
    flex-direction: column;
    color: var(--clr-blue);
    flex: 1;
    align-items: center;
    gap: 0.25rem;
    padding: 1.5rem 3rem;
}

.profile-settings-header{
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 0.25rem;
}

.profile-settings-panel h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-settings-panel hr{
    width: 100%;
    border: 1.5px solid var(--clr-blue);
    margin-bottom: 1.625rem;
}


/* FORM PANEL STYLES */

.tab-content {
    padding-top: 0;
}


.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.profile-pic-container .img-wrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 15px;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-btn {
    background-color: #145494; /* Main Blue */
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.upload-btn:hover {
    background-color: #0f437a;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--clr-bgwhite);
    border: none;
    border: 1px solid var(--clr-blue);
    color: var(--clr-blue);
    font-size: 1.1rem;
    font-weight: 700;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
}

.form-group input[readonly] {
    color: #95a5a6;
    cursor: not-allowed;
}

/* Style for an input field that has an error */
.form-group input.is-invalid {
    border-bottom: 1px solid #c0392b;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

/* Form Actions (Buttons) */
.form-actions {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 25px;
}

.btn-save{
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--clr-blue);
    color: var(--clr-blue);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.btn-save:hover {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}


/* OPTIONS START */

.options-panel {
    flex: 1;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 2rem; 
    color: var(--clr-blue);
    gap: 0.75rem;
}

.options-header{
    font-size: 1.5rem;
    font-weight: 700;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.options-container a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--clr-blue);
}

.options-container .active{
    font-weight: 700;
}

.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.modal-box {
    background: var(--clr-bgwhite);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: var(--clr-blue);
}
.modal-box h3 { margin-bottom: 10px;}
.modal-box p { margin-bottom: 25px;}
.modal-buttons { display: flex; gap: 15px; justify-content: center; }
.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-confirm { background: var(--clr-blue); color: var(--clr-white); }
.btn-cancel { background: var(--clr-white); color: var(--clr-blue); border: 1px solid var(--clr-blue);}