.app-container {
    display: flex;
    height: 100vh;
}

.main-title {
    margin: 1rem 0;
}

.main-title h3{
    font-size: 1.75rem;
    font-family: var(--ff-Raleway);
    color: var(--clr-blue);
}

.panel-containers{
    display: inline-block;
    width: 100%;
    height: 85vh;
}

.top-panels-container{
    display: flex;
    height: 30%;
    width: 100%;
}

.bottom-panels-container{
    display: flex;
    width: 100%;
    height: 70%;
    margin-top: 1rem;
}

.reports-container, .calendar-container, 
.task-manager-container, .task-list-container{
    background-color: var(--clr-bgwhite);
    
    border-radius: 10px;
    box-shadow: 18px 18px 7px 0 rgba(0, 0, 0, 0.00), 12px 12px 7px 0 rgba(0, 0, 0, 0.01), 7px 7px 6px 0 rgba(0, 0, 0, 0.05), 3px 3px 4px 0 rgba(0, 0, 0, 0.09), 1px 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.reports-container{
    flex-grow: 5;
}

.calendar-container{
    flex-grow: 2;
    margin-left: 1rem;
    padding: 1rem;
}

.task-manager-container{
    flex-grow: 1;
    padding: 1rem;
}

.task-list-container{
    flex-grow: 4;
    margin-left: 1rem;
    padding: 1rem;
}

.task-lists{
    max-height: 25rem;
    margin-top: 0.5rem;
    overflow-y: auto;
    white-space: none;
}

.task-container{
    color: var(--clr-blue);
    padding: 0.75rem;
    margin-bottom: 0.5rem;

    background-color: var(--clr-bgblue);
    
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.export-button {
    padding: 6px 12px;
    font-size: 0.85em;
    background-color: var(--clr-white);
    color: var(--clr-blue);
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.export-button:hover {
    background-color: var(--clr-blue);
    color: white;
}